<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="github" value="https://nuget.pkg.github.com/RideSaver/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="eschablowski" />
            <add key="ClearTextPassword" value="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" />
        </github>
    </packageSourceCredentials>
</configuration>
